.btn-xlg{
    padding: 0.5rem 1rem;
    font-size: 2rem;
    border-radius: 0.3rem;
}

.btncolor{
    width: 50px;
    height: 50px;
    border: 1px solid black;
}

[data-color="white"]{
    background-color: white;
}

[data-color="orange"]{
    background-color: orange;
}

[data-color="yellow"]{
    background-color: yellow;
}

[data-color="green"]{
    background-color: green;
}

[data-color="blue"]{
    background-color: blue;
}

[data-color="red"]{
    background-color: red;
}

#drawarea{
    position: relative;
    background-color: black;
    width:1024px;
    height:768px;
    overflow: hidden;
}

#circuitarea{
    position: absolute;
    left:0px;
    top:0px;
    overflow: hidden;
    transform-origin: top left;
}

#drawing{
    position:absolute;
    left:0px;
    top:0px;
}

#drawinggrid{
    pointer-events: none;
    position:absolute;
    left:0px;
    top:0px;
}

#statusDMD{
    color:var(--bs-secondary);
}

.cursor{
    pointer-events: none;
    position:absolute;
    border: 2px dashed white;
}

.centercol{
    flex: 0 0 1050px;
}